<br>
<img id= "pic" src="/assets/Jake.gif">
<h4>Hello! My name is {{name}}, and welcome to Storm Beats!</h4>

<h5>Wanna hear some royalty-free music? Use the music player below to hear some of the sickest royalty-free beats!</h5>
<h5>Need a playlist reference? Check out our library page! </h5>

<h5>Click the button below to read about us! </h5>
<div class="center">
<button id="theBtn" type="button" class="btn btn-outline-info btn-lg" (click)="toggleTest()">About Us</button>
</div>
<br>
<p *ngIf="test">We are a small music service who have free royalty music for our listeners to listen to,
  especially from the great American composer, Kevin MacLeod. Without his royalty-free music, this site wouldn't have
  been possible to create. Because we are not as big as other music services like Pandora, Spotify,
  Apple Music, and more, we all appreciate you guys for taking the time to listen to our songs! </p>
<br>



