<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >Storm Beats</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/library']">Library</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
<br>
<p><b>Note: </b> After skipping or going back on a song track by number, press the play button to hear that song.</p>
<footer style="color: lightcyan">
  <p> Song number: {{songsIndex}} </p>
  <p> Now playing: {{songName}} </p>
  <i title="Click this to go back to the last song" (click)="prev()" type="button" class="fas fa-fast-backward fa-fw fa-2x"></i>
  <i title="Click this to play the song"(click)="play(songsIndex)"  class="fas fa-play fa-fw fa-2x"><br></i>
  <i title="Click this to pause the song" (click)="pause(songsIndex)" class="fas fa-pause fa-fw fa-2x"></i>
  <i title="Click this to stop the song"(click)="stop(songsIndex)" class="fas fa-stop fa-fw fa-2x"></i>
  <i title="Click this to skip to the next song"(click)="skip()" type="button" class="fas fa-fast-forward fa-fw fa-2x"></i>
</footer>

<br>
<footer>
  <!--The link attached to the footer below gave me a good idea on how to structure the basic info I needed for the MP3 player.
   Note: He goes over the app and the components in more detail, but I decided to just implement some of the components he went over.
   There are also other references on top of this HTML document-->
  <p title="I put my main reference here so you would know where I got most of my code from while doing the MP3 player program">
   Design ideas and implementation by <a target="_blank" href="https://www.youtube.com/watch?v=f6SrTZwZi70">
    Traversy Media.</a>
  <p style="display: inline">Edited and re-created by Vishal Madhav</p>
</footer>
